/* Stil für die Raumliste */
#roomsList {
    list-style: none;
    margin: 20px;
    padding: 0;
}

#roomsList li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Detailansicht und Nachrichtenbox */
#roomDetails, #messageBox {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;

}

#messageBox {
    color: green;
}

/* Formular im Detailbereich */
form {
    margin-top: 20px;
}

input[type="date"], input[type="text"], button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.hidden {
    display: none;
}
