form {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0px;
    padding: 0px;
}

h1, p, span{
    padding-left: 20px;
}

label {
    margin-bottom: 10px;
    display: block;
}

input[type=email] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Damit die Breite inklusive Padding berechnet wird */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

button:hover {
    background-color: #45a049;
}

span {
    display: block;
    margin-bottom: 20px;
}
