<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='shared.css') }}">
</head>
<body>


    <header>
        <nav>
            <ul>
                <li><a href="/">Rooms</a></li>
                <li><a href="/sell">Sell</a></li>
                <li><a href="/account">Account</a></li>
            </ul>
        </nav>
    </header>



    <h1>Konto von {{ person.vorname }} {{ person.nachname }}</h1>
    <div>
        <h2>Persönliche Informationen</h2>
        <p>Email: {{ person.email }}</p>
        <p>Alter: {{ person.alter }}</p>
        <p>Geschlecht: {{ person.geschlecht }}</p>
        <p>Telefon: {{ person.telefon }}</p>
    </div>

    <div class="room">
        <h2>Besitzende Räume</h2>
        <ul>
            {% for room in rooms_owned %}
                <li>{{ room.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="room">
        <h2>Gemietete Räume</h2>
        <ul>
            {% for room in rooms_rented %}
                <li>       
                    {{ room.name }} - Gemietet von: {{ room.gebucht_von.strftime('%d.%m.%Y') }} bis: {{ room.gebucht_bis.strftime('%d.%m.%Y') }}
                </li>

            {% endfor %}
        </ul>
    </div>



<!-- Bearbeitungsformular -->
<span style="padding: 20px;">
<button id="editBtn" >Bearbeiten</button>
</span>
<form id="editForm" action="{{ url_for('update_account') }}" method="post" style="display: none;">
    <label for="vorname">Vorname:</label>
    <input type="text" id="vorname" name="vorname" value="{{ person.vorname }}" required>

    <label for="nachname">Nachname:</label>
    <input type="text" id="nachname" name="nachname" value="{{ person.nachname }}" required>

    <label for="alter">Alter:</label>
    <input type="number" id="alter" name="alter" value="{{ person.alter }}" required>

    <label for="geschlecht">Geschlecht:</label>
    <select id="geschlecht" name="geschlecht">
        <option value="männlich" {% if person.geschlecht == 'männlich' %}selected{% endif %}>Männlich</option>
        <option value="weiblich" {% if person.geschlecht == 'weiblich' %}selected{% endif %}>Weiblich</option>
    </select>

    <label for="telefon">Telefon:</label>
    <input type="text" id="telefon" name="telefon" value="{{ person.telefon }}" required>

    <button type="submit">Speichern</button>
</form>


<script>
document.getElementById('editBtn').onclick = function() {
    var form = document.getElementById('editForm');
    // Wechsle zwischen 'none' und 'block' für die 'display' Eigenschaft
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
};
</script>





    <a class="logout" href="/logout">Ausloggen</a>
</body>
</html>
